body
  box-sizing border-box
  background-color black
  color white
  font-family monospace
  font-size 1.5em
  white-space nowrap

.panel
  float left
  height 100vh
  overflow auto

#agencies-panel
  width 40%

#titles-panel
  width 60%

.deselected
  color dimgray

th
  font-weight bold
  text-align start

tr
  cursor pointer

#agencies
  width 100%
  height 800px

  td:nth-child(1)
    color cyan
    margin-right 1em
    width 0px

  td:nth-child(2)
    max-width 0px
    overflow-x hidden

  td:nth-child(3)
    width 0px
    text-align end

#titles
  margin-left 2em
  td:nth-child(2)

  td:nth-child(3)
    overflow-x hidden

#refs
  position absolute
  bottom 1em
  right 1em
  color yellow
